.container{

}
.form-container{
    border: 2px solid #8f8d8d;

}
.form-header{
    display: flex;
    flex-direction: column;
    border: 2px solid #8f8d8d;
    font-weight: 750;
    background-color: #b4b4b4;

}
.form-inputs{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 2px solid #8f8d8d;
    padding: 2px 0;;
    
}
input{
   
    margin: 10px auto;
}
input[type="submit"]{
    border-radius: 20px;
    background-color: #7a00cc;
    border: none;
    color: #fff;
    padding: 10px 20px;
}